<div ng-controller="QueueCtrl as queue">
<h1 class="page-header">Queue</h1>
<!-- Running Jobs -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title"> Running Jobs </h2>
    </div>
    <div class="panel-body">
      <div class='table-responsive'>
        <table class='table table-striped'>
          <thead>
            <tr>
              <th>ID</th>
              <th>User</th>
              <th>Status</th>
              <th>Partition</th>
              <th>Nodes</th>
              <th>Command</th>
              <th>Resources</th>
              <th>Run Time</th>
              <th>Wall Time</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="(id,job) in queue.jobs.running">
              <td>{{ id }}</td>
              <td>{{ job.user_id }}</td>
              <td>{{ job.job_state }}</td>
              <td>{{ job.partition }}</td>
              <td>{{ job.nodes }}</td>
              <td>{{ job.command }}</td>
              <td>{{ job.tres_alloc_str}}</td>
              <td>{{ job.run_time_str}}</td>
              <td>{{ job.time_limit_str}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<!-- Pending Jobs -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title"> Pending Jobs </h2>
  </div>
  <div class="panel-body">
    <div class='table-responsive'>
      <table class='table table-striped'>
        <thead>
          <tr>
            <th>ID</th>
            <th>User</th>
            <th>Status</th>
            <th>Partition</th>
            <th>Nodes</th>
            <th>Command</th>
            <th>Resources</th>
            <th>Run Time</th>
            <th>Wall Time</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="(id,job) in queue.jobs.pending">
            <td>{{ id }}</td>
            <td>{{ job.user_id }}</td>
            <td>{{ job.job_state }}</td>
            <td>{{ job.partition }}</td>
            <td>{{ job.nodes }}</td>
            <td>{{ job.command }}</td>
            <td>{{ job.tres_alloc_str}}</td>
            <td>{{ job.run_time_str}}</td>
            <td>{{ job.time_limit_str}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- Finished Jobs -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title"> Finished Jobs </h2>
  </div>
  <div class="panel-body">
    <div class='table-responsive'>
      <table class='table table-striped'>
        <thead>
          <tr>
            <th>ID</th>
            <th>User</th>
            <th>Status</th>
            <th>Partition</th>
            <th>Nodes</th>
            <th>Command</th>
            <th>Resources</th>
            <th>Run Time</th>
            <th>Wall Time</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="(id,job) in queue.jobs.finished">
            <td>{{ id }}</td>
            <td>{{ job.user_id }}</td>
            <td>{{ job.job_state }}</td>
            <td>{{ job.partition }}</td>
            <td>{{ job.nodes }}</td>
            <td>{{ job.command }}</td>
            <td>{{ job.tres_alloc_str}}</td>
            <td>{{ job.run_time_str}}</td>
            <td>{{ job.time_limit_str}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
